.section-title {
    font-size: 2rem;
    color: $mainColor;
    padding-bottom: 5rem;
    @include phone {
        font-size: 3.2rem;
        padding-bottom: 6rem;
    }
    @include largeDesktop {
        font-size: 4.8rem;
        padding-bottom: 7rem;
    }
}