.section-padding {
    padding: 5rem 0;
    @include phone {
        padding: 7rem 0;
    }
}

.pdb-small {
    padding-bottom: 1rem;
}

.pdb-medium {
    padding-bottom: 3rem;
}

.pdb-0 {
    padding-bottom: 0;
}

.pdt-medium {
    padding-top: 4rem;
}

.section-heading {
    font-size: 3.5rem;
    color: $mainColor;
    padding-bottom: 1.5rem;
    @include phone {
        font-size: 4.8rem;
        padding-bottom: 2rem;
    }
}